Java/learn_java/src/main/resources/META-INF/Joshua.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.example.org/Joshua" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.example.org/Joshua"
            elementFormDefault="qualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:element name="josh">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="alias" type="xsd:string"></xsd:element>
                <xsd:element name="code" type="xsd:string"></xsd:element>
            </xsd:sequence>
            <xsd:attribute name="name " type="xsd:string"></xsd:attribute>
            <xsd:attribute name="id" type="xsd:string"></xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>